.container{
    max-width: fit-content;
    margin: 5rem auto;
}

table{
    margin-top: 1rem;
    border-collapse: collapse;
}

td{
    padding: 0;
}

tr:nth-child(3n){
    border-bottom: 3px solid;
}

tr:nth-child(1){
    border-top: 3px solid;
}

td:nth-child(3n){
    border-right: 3px solid;
}

td:nth-child(1){
    border-left: 3px solid;
}

